---
import BlogLayout from '@/layouts/BlogLayout.astro'

import { getCollection } from 'astro:content'
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props
const { Content } = await entry.render()
---

<BlogLayout>
  <header class='mx-auto max-w-[65ch]'>
    <h1 class='text-pretty text-2xl'>{entry.data.title}</h1>
    <small class='text-secondary text-sm'
      >{
        entry.data.pubDate.toLocaleDateString('es-ES', {
          day: 'numeric',
          month: 'long',
          year: 'numeric'
        })
      }</small
    >
    <img
      src={entry.data.image.url}
      alt={entry.data.title}
      class='mt-6 w-full rounded-lg'
    />
  </header>
  <section
    class='prose mx-auto mt-6 w-full dark:prose-invert prose-p:text-pretty prose-pre:w-full prose-img:rounded-xl'
  >
    <Content />
  </section>
</BlogLayout>
