---
import BlogFooter from '@/components/blog/BlogFooter.astro'
import BlogHeader from '@/components/blog/BlogHeader.astro'
import Post from '@/components/blog/Post.astro'
import Layout from '@/layouts/Layout.astro'

import { getCollection } from 'astro:content'
const allPosts = await (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.fixed !== true && post.data.contentType === 'guia')

const fixedPost = await (
  await getCollection('blog')
)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.fixed === true && post.data.contentType === 'guia')
  .slice(0, 1)
---

<Layout
  title='Blog'
  description='Blog de Aaron'
  img='/me.webp'
>
  <main class='w-full'>
    <div class='w-full px-6 pb-6'>
      <section
        class='mx-auto flex w-full max-w-[65ch] flex-col gap-6 dark:border-r-neutral-800'
        id='blog-list'
      >
        <BlogHeader />
        <div class='mb-16 flex flex-col gap-2 sm:mb-0'>
          <Post post={fixedPost[0]} />
          {allPosts.map((post) => <Post post={post} />)}
        </div>
      </section>
    </div>
    <BlogFooter />
  </main>
</Layout>

<style>
  .bloglist {
    scrollbar-width: none;
  }
</style>
