---
import Layout from '@/layouts/Layout.astro'

import { basics } from '@cv'
const { name, label } = basics

import ContactForm from '@/components/ContactForm.tsx'
---

<Layout
  title={`Portafolio de ${name} - ${label}`}
  description='Contacto'
  img='/me.webp'
>
  <main class='w-full px-6 pb-20 pt-6 md:pt-16'>
    <header class='max-w-[65ch] mx-auto pb-8'>
      <h1 class='text-xl'>Contacta conmigo a través del formulario:</h1>
    </header>
    <ContactForm client:load />
  </main>
</Layout>
