---
import Layout from '@/layouts/Layout.astro'

import { basics } from '@cv'
const { name, label } = basics

import ContactForm from '@/components/ContactForm.tsx'
---

<Layout
  title={`Portafolio de ${name} - ${label}`}
  description='Contacto'
  img='/me.webp'
>
  <main>
    <ContactForm client:load />
  </main>
</Layout>
