---
import Layout from '@/layouts/Layout.astro'

import { basics } from '@cv'
const { name, label } = basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>Contacto</main>
</Layout>
