---
import Layout from '@/layouts/Layout.astro'

import { basics } from '@cv'
const { name, label } = basics
---

<Layout
  title={`Portafolio de ${name} - ${label}`}
  description='Contacto'
  img='/me.webp'
>
  <main>Contacto</main>
</Layout>
