<section class='flex w-full flex-col gap-8'>
  <header>
    <h2 class='text-3xl font-semibold'>Hardware</h2>
  </header>
  <div class='grid grid-cols-3 gap-2'>
    <article class='relative flex flex-col gap-4 rounded-2xl bg-neutral-800 p-2 transition'>
      <a
        href='/stack'
        class='absolute left-0 top-0 h-full w-full rounded-lg'
      ></a>
      <div>
        <img
          src='https://cdsassets.apple.com/live/SZLF0YNV/images/sp/111894_macminihero.png'
          alt='Mac Mini'
          class='aspect-square w-full object-contain'
        />
      </div>
      <div class='flex flex-col gap-2 p-2'>
        <span
          class='w-fit rounded-lg border border-neutral-700 p-1 text-xs uppercase text-neutral-400'
          >Ordenador</span
        >
        <h3 class='text-lg'>Mac Mini</h3>
      </div>
    </article>
  </div>
</section>
