---
import Item from '@/components/sections/stack/Item.astro'
---

<section class='relative flex w-full flex-col'>
  <header>
    <h2 class='text-secondary lg:absolute lg:-left-24 lg:flex'>Hardware</h2>
  </header>
  <div class='grid grid-cols-2 gap-2'>
    <Item
      img='https://cdsassets.apple.com/live/SZLF0YNV/images/sp/111894_macminihero.png'
      title='Mac Mini'
    />
    <Item
      img='https://cdsassets.apple.com/live/SZLF0YNV/images/sp/111894_macminihero.png'
      title='Mac Mini'
    />
    <Item
      img='https://cdsassets.apple.com/live/SZLF0YNV/images/sp/111894_macminihero.png'
      title='Mac Mini'
    />
    <Item
      img='https://cdsassets.apple.com/live/SZLF0YNV/images/sp/111894_macminihero.png'
      title='Mac Mini'
    />
  </div>
</section>
