---
import Layout from '@/layouts/Layout.astro'

import About from '@/components/sections/About.astro'
import Education from '@/components/sections/Education.astro'
import Experience from '@/components/sections/Experience.astro'
import Hero from '@/components/sections/Hero.astro'
import Languages from '@/components/sections/Languages.astro'
import Projects from '@/components/sections/Projects.astro'
import Skills from '@/components/sections/Skills.astro'

import { basics } from '@cv'
const { name, label } = basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main class='w-full px-6 pb-[65px] pt-6 md:pt-[65px]'>
    <Hero />
    <About />
    <Education />
    <Projects />
    <Languages />
    <Skills />
  </main>
</Layout>
