---
import Home from '@/icons/Home.astro'
import Blog from '@/icons/Blog.astro'
import Stack from '@/icons/Stack.astro'
import Contact from '@/icons/Contact.astro'
import NavLink from '@/components/navbar/NavLink.astro'
import CmdK from '@/components/CmdK.astro'
---

<nav
  class='fixed bottom-0 z-50 flex h-[65px] w-screen shrink-0 items-center justify-center border-t bg-white md:sticky md:top-0 md:h-screen md:w-[65px] md:flex-col md:border-r dark:border-t-primary dark:bg-primary dark:md:border-r-primary'
>
  <ul class='flex w-full items-center justify-between gap-6 px-6 md:flex-col md:justify-center'>
    <li>
      <NavLink
        href='/'
        tooltip='Inicio'
        ><Home /></NavLink
      >
    </li>
    <li>
      <NavLink
        href='/blog'
        tooltip='Blog'
        ><Blog /></NavLink
      >
    </li>
    <!--
        <li>
            <a href="/">Proyectos</a>
        </li> -->
    <li>
      <NavLink
        href='/stack'
        tooltip='Stack'
        ><Stack /></NavLink
      >
    </li>
    <!--
        <li>
            <a href="/">Sobre mi</a>
        </li>-->
    <li>
      <NavLink
        href='mailto:aaron@dotmd.io'
        tooltip='Contacto'
        ><Contact /></NavLink
      >
    </li>
    <li>
      <CmdK />
    </li>
  </ul>
</nav>
