---
// se ejecuta en el servidor o en build time <----
const { title } = Astro.props
---

<section class='relative mx-auto mb-9 max-w-[65ch] md:mb-12'>
  {title && <h2 class='text-secondary lg:absolute lg:-left-36 lg:flex '>{title}</h2>}
  <slot />
</section>
