---
import Bmc from '@/icons/Bmc.astro'
---

<footer
  class='sticky bottom-[65px] h-[65px] w-full bg-white/80 backdrop-blur md:bottom-0 dark:bg-primary/80'
>
  <a
    href='/'
    class='mx-auto flex h-full w-full max-w-[65ch] items-center justify-center gap-2 border-t dark:border-t-primary'
  >
    <Bmc /> <span>Invítame a un café</span></a
  >
</footer>
