---
import Bmc from '@/icons/Bmc.astro'
---

<footer
  class='sticky bottom-[65px] h-[65px] w-full bg-white/80 backdrop-blur md:bottom-0 dark:bg-primary/80'
>
  <a
    class='mx-auto flex h-full w-full max-w-[65ch] items-center justify-center gap-2 border-t dark:border-t-tertiary'
    role='link'
    href='https://www.buymeacoffee.com/dotmd'
    rel='noopener noreferrer'
    target='_blank'
  >
    <Bmc /> <span>Invítame a un café</span></a
  >
</footer>
