---
import '@fontsource/poppins'

import Navbar from '@/components/Navbar.astro'
import SEO from '@/components/SEO.astro'

interface Props {
  title: string
}

interface Props {
  title: string
  description: string
  canonical?: string
  img: string
}
const { title, description, img } = Astro.props
---

<!doctype html>
<html
  lang='es'
  class='relative scroll-p-8 scroll-smooth antialiased dark:bg-primary dark:text-white'
>
  <head>
    <SEO
      title={title}
      description={description}
      img={img}
    />
  </head>
  <body class='flex'>
    <Navbar />
    <slot />
    <script>
      import tippy from 'tippy.js'
      import 'tippy.js/dist/tippy.css'
      import 'tippy.js/animations/shift-away.css'

      document.addEventListener('astro:page-load', () => {
        tippy('[data-tippy-content]', {
          animation: 'shift-away',
          placement: 'right',
          touch: false
        })
      })
    </script>
  </body>
</html>
